<div class="content-wrap">
	<div class="content-box">
		<div class="title-bar">
			<h2>Toggle topics below<span class="help-icon"></span></h2>
		</div>
		<div class="help" style="display: none;">
			<p>Click the topics in the legend below to view active petitions by topic over time. This chart displays active petitions only, meaning, petitions with over the minimum threshold of signatures for visibility, and which have not yet reached their 30 day expiriation date.</p>
		</div>
		<div class="trends">
			<img class="loading" src="/assets/loading.gif" />
			<div id="container" style="height: 500px; min-width: 500px"></div>
			<div id="results-box" class="results clearfix" style="display: none;">
				<img class="loading-sm" src="/assets/loading-sm.gif" />
				<h2>Results for <span class="topic"></span> around <span class="date"></span></h2>
				<div class="news-results">
					<h3>Top News (NY Times)</h3>
					<ul class="news-list">
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="petition-results">
					<h3>Top Petitions</h3>
					<ul class="petition-list">
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
